In [38]:
import pandas as pd

In [39]:
df_migrazioni = pd.read_excel('dataset_migrazioni.xlsx')
df_migrazioni

,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Belgium,3.9,2.4,3.2,5.5,2.4,3.2,4.3,5.0,3.9,4.9,10.9,7.6
1,Bulgaria,-0.3,-6.6,-6.6,-6.7,-6.8,-6.8,-7.0,-7.3,4.3,6.3,4.2,6.4
2,Czechia,1.0,-0.1,2.1,1.5,1.9,2.7,3.6,4.1,2.5,4.8,30.9,8.7
3,Denmark,3.0,3.8,4.8,7.4,5.7,4.2,3.2,1.6,1.9,4.6,10.2,5.0
4,Germany,4.9,5.6,7.2,14.3,5.6,5.1,4.8,3.7,2.4,3.7,17.3,-6.9
5,Estonia,-2.8,-2.0,-0.5,1.8,0.8,4.0,5.3,4.1,2.8,5.3,29.5,10.1
6,Ireland,-4.8,-2.5,0.4,2.8,8.3,5.2,11.2,8.8,6.1,12.0,18.7,10.0
7,Greece,-6.0,-5.4,-4.3,-4.2,1.0,0.8,1.6,3.3,0.6,-15.2,1.7,3.8
8,Spain,-3.0,-5.4,-2.2,-0.1,1.7,3.8,7.0,9.7,5.0,4.2,15.3,13.2
9,France,1.1,1.5,0.5,-0.4,-0.3,0.8,1.7,0.6,2.8,2.2,2.4,2.7
10,Croatia,-0.9,-4.7,-6.1,-8.0,-9.3,-11.7,-7.5,-4.9,-4.9,-1.2,3.0,7.8
11,Italy,4.2,2.6,0.8,0.5,0.7,1.0,10.2,0.7,-1.2,1.6,4.9,4.6
12,Cyprus,-0.7,-14.0,-17.4,-2.4,2.9,7.2,9.3,10.0,5.0,6.2,14.3,9.9
13,Latvia,-5.8,-7.1,-4.3,-5.4,-6.2,-4.0,-2.5,-1.8,-1.7,-0.2,11.7,1.3
14,Lithuania,-6.0,-4.8,-3.5,-6.7,-8.7,-7.3,-0.4,3.9,7.4,7.0,25.5,15.7
15,Luxembourg,18.9,19.0,19.9,19.6,16.2,15.8,16.3,16.6,10.7,13.2,20.5,14.0
16,Hungary,1.6,-0.8,-0.1,0.3,-0.8,1.1,2.5,2.7,1.0,2.2,3.8,2.7
17,Malta,10.1,13.9,22.4,22.4,18.9,31.5,35.9,42.1,1.8,7.4,41.0,37.9
18,Netherlands,0.8,1.2,2.1,3.2,4.6,4.7,5.0,6.2,3.9,6.1,12.6,7.6
19,Austria,5.2,6.6,8.6,13.2,7.5,5.1,4.0,4.6,4.4,5.8,15.1,7.2
20,Poland,-0.1,-0.7,-0.3,-0.3,0.3,0.1,0.6,0.5,0.1,0.1,0.2,0.1
21,Portugal,-3.5,-3.4,-2.5,-0.3,-0.1,1.4,2.3,6.5,3.4,6.9,13.0,14.7
22,Romania,-1.1,-0.7,-1.0,-2.5,-3.2,-3.0,-2.9,-1.3,-1.4,-0.9,5.6,5.2
23,Slovenia,0.3,0.2,-0.2,0.2,0.5,0.6,7.2,7.8,8.7,1.2,6.9,5.4
24,Slovakia,0.6,0.4,0.3,0.6,0.7,0.7,0.7,0.7,0.8,-1.5,0.2,0.3
25,Finland,3.3,3.3,2.8,2.3,3.1,2.4,2.1,2.8,3.2,4.1,6.1,10.4
26,Sweden,5.4,6.9,7.9,8.1,11.9,10.1,8.5,7.0,3.5,4.9,5.6,2.3
27,Iceland,-0.9,5.1,3.4,4.5,12.2,24.1,18.6,13.8,6.7,13.2,25.7,24.0
28,Liechtenstein,6.3,5.4,3.6,4.9,2.1,5.7,4.2,7.2,7.0,3.8,7.2,6.4
29,Norway,9.4,7.7,7.8,5.0,5.6,4.1,3.4,4.8,2.1,3.7,10.6,9.6
30,Switzerland,8.3,10.2,9.4,8.5,8.3,5.2,4.7,5.0,6.3,5.7,7.8,15.4
31,United Kingdom,2.6,3.8,4.6,5.4,4.4,4.2,3.9,4.0,NaN,NaN,NaN,NaN
32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,NaN
33,Moldova,0.0,-0.5,-9.1,-7.5,-6.9,-15.9,-17.6,-15.1,-11.7,-24.0,-17.0,-32.3
34,North Macedonia,-0.5,-0.2,-0.2,-0.2,-0.1,0.1,0.1,-0.1,-0.4,-113.6,-1.5,-0.1
35,Georgia,NaN,NaN,-188.0,-5.2,-2.2,1.6,-2.9,-2.2,4.2,-7.0,NaN,NaN
36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,NaN
37,Serbia,0.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.3,0.0
38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,NaN,NaN,0.8,-4.0
39,Ukraine,1.4,0.7,NaN,0.3,0.2,0.3,0.4,0.5,0.2,NaN,NaN,NaN
40,Armenia,NaN,NaN,NaN,-8.6,-8.3,-8.0,-6.2,-5.2,1.1,NaN,NaN,0.6
41,Azerbaijan,0.2,0.2,0.1,0.1,0.2,0.1,0.2,0.0,0.1,0.2,-9.0,0.1

In [40]:
null_counts = df_migrazioni.isnull().sum(axis=1)
null_counts

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    4
32    1
33    0
34    0
35    4
36    1
37    0
38    2
39    4
40    5
41    0
dtype: int64

In [41]:
few_null = df_migrazioni[(null_counts > 0) & (null_counts <= 2)]
few_null

,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,NaN
36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,NaN
38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,NaN,NaN,0.8,-4.0

In [42]:
for index in few_null.index:
    mean_value = df_migrazioni.loc[index, df_migrazioni.columns != 'country'].mean(skipna=True)
    df_migrazioni.loc[index] = df_migrazioni.loc[index].fillna(round(mean_value, 1))

In [43]:
df_migrazioni

,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Belgium,3.9,2.4,3.2,5.5,2.4,3.2,4.3,5.0,3.9,4.9,10.9,7.6
1,Bulgaria,-0.3,-6.6,-6.6,-6.7,-6.8,-6.8,-7.0,-7.3,4.3,6.3,4.2,6.4
2,Czechia,1.0,-0.1,2.1,1.5,1.9,2.7,3.6,4.1,2.5,4.8,30.9,8.7
3,Denmark,3.0,3.8,4.8,7.4,5.7,4.2,3.2,1.6,1.9,4.6,10.2,5.0
4,Germany,4.9,5.6,7.2,14.3,5.6,5.1,4.8,3.7,2.4,3.7,17.3,-6.9
5,Estonia,-2.8,-2.0,-0.5,1.8,0.8,4.0,5.3,4.1,2.8,5.3,29.5,10.1
6,Ireland,-4.8,-2.5,0.4,2.8,8.3,5.2,11.2,8.8,6.1,12.0,18.7,10.0
7,Greece,-6.0,-5.4,-4.3,-4.2,1.0,0.8,1.6,3.3,0.6,-15.2,1.7,3.8
8,Spain,-3.0,-5.4,-2.2,-0.1,1.7,3.8,7.0,9.7,5.0,4.2,15.3,13.2
9,France,1.1,1.5,0.5,-0.4,-0.3,0.8,1.7,0.6,2.8,2.2,2.4,2.7
10,Croatia,-0.9,-4.7,-6.1,-8.0,-9.3,-11.7,-7.5,-4.9,-4.9,-1.2,3.0,7.8
11,Italy,4.2,2.6,0.8,0.5,0.7,1.0,10.2,0.7,-1.2,1.6,4.9,4.6
12,Cyprus,-0.7,-14.0,-17.4,-2.4,2.9,7.2,9.3,10.0,5.0,6.2,14.3,9.9
13,Latvia,-5.8,-7.1,-4.3,-5.4,-6.2,-4.0,-2.5,-1.8,-1.7,-0.2,11.7,1.3
14,Lithuania,-6.0,-4.8,-3.5,-6.7,-8.7,-7.3,-0.4,3.9,7.4,7.0,25.5,15.7
15,Luxembourg,18.9,19.0,19.9,19.6,16.2,15.8,16.3,16.6,10.7,13.2,20.5,14.0
16,Hungary,1.6,-0.8,-0.1,0.3,-0.8,1.1,2.5,2.7,1.0,2.2,3.8,2.7
17,Malta,10.1,13.9,22.4,22.4,18.9,31.5,35.9,42.1,1.8,7.4,41.0,37.9
18,Netherlands,0.8,1.2,2.1,3.2,4.6,4.7,5.0,6.2,3.9,6.1,12.6,7.6
19,Austria,5.2,6.6,8.6,13.2,7.5,5.1,4.0,4.6,4.4,5.8,15.1,7.2
20,Poland,-0.1,-0.7,-0.3,-0.3,0.3,0.1,0.6,0.5,0.1,0.1,0.2,0.1
21,Portugal,-3.5,-3.4,-2.5,-0.3,-0.1,1.4,2.3,6.5,3.4,6.9,13.0,14.7
22,Romania,-1.1,-0.7,-1.0,-2.5,-3.2,-3.0,-2.9,-1.3,-1.4,-0.9,5.6,5.2
23,Slovenia,0.3,0.2,-0.2,0.2,0.5,0.6,7.2,7.8,8.7,1.2,6.9,5.4
24,Slovakia,0.6,0.4,0.3,0.6,0.7,0.7,0.7,0.7,0.8,-1.5,0.2,0.3
25,Finland,3.3,3.3,2.8,2.3,3.1,2.4,2.1,2.8,3.2,4.1,6.1,10.4
26,Sweden,5.4,6.9,7.9,8.1,11.9,10.1,8.5,7.0,3.5,4.9,5.6,2.3
27,Iceland,-0.9,5.1,3.4,4.5,12.2,24.1,18.6,13.8,6.7,13.2,25.7,24.0
28,Liechtenstein,6.3,5.4,3.6,4.9,2.1,5.7,4.2,7.2,7.0,3.8,7.2,6.4
29,Norway,9.4,7.7,7.8,5.0,5.6,4.1,3.4,4.8,2.1,3.7,10.6,9.6
30,Switzerland,8.3,10.2,9.4,8.5,8.3,5.2,4.7,5.0,6.3,5.7,7.8,15.4
31,United Kingdom,2.6,3.8,4.6,5.4,4.4,4.2,3.9,4.0,NaN,NaN,NaN,NaN
32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5
33,Moldova,0.0,-0.5,-9.1,-7.5,-6.9,-15.9,-17.6,-15.1,-11.7,-24.0,-17.0,-32.3
34,North Macedonia,-0.5,-0.2,-0.2,-0.2,-0.1,0.1,0.1,-0.1,-0.4,-113.6,-1.5,-0.1
35,Georgia,NaN,NaN,-188.0,-5.2,-2.2,1.6,-2.9,-2.2,4.2,-7.0,NaN,NaN
36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,-7.2
37,Serbia,0.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.3,0.0
38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,1.5,1.5,0.8,-4.0
39,Ukraine,1.4,0.7,NaN,0.3,0.2,0.3,0.4,0.5,0.2,NaN,NaN,NaN
40,Armenia,NaN,NaN,NaN,-8.6,-8.3,-8.0,-6.2,-5.2,1.1,NaN,NaN,0.6
41,Azerbaijan,0.2,0.2,0.1,0.1,0.2,0.1,0.2,0.0,0.1,0.2,-9.0,0.1

In [44]:
countries_df = df_migrazioni[['country']]

In [45]:
countries_df

            country
0           Belgium
1          Bulgaria
2           Czechia
3           Denmark
4           Germany
5           Estonia
6           Ireland
7            Greece
8             Spain
9            France
10          Croatia
11            Italy
12           Cyprus
13           Latvia
14        Lithuania
15       Luxembourg
16          Hungary
17            Malta
18      Netherlands
19          Austria
20           Poland
21         Portugal
22          Romania
23         Slovenia
24         Slovakia
25          Finland
26           Sweden
27          Iceland
28    Liechtenstein
29           Norway
30      Switzerland
31   United Kingdom
32       Montenegro
33          Moldova
34  North Macedonia
35          Georgia
36          Albania
37           Serbia
38          Türkiye
39          Ukraine
40          Armenia
41       Azerbaijan

In [46]:
df_no_countries = df_migrazioni.drop('country', axis= 1)

In [47]:
df_no_countries

    2012  2013   2014  2015  2016  2017  2018  2019  2020   2021  2022  2023
0    3.9   2.4    3.2   5.5   2.4   3.2   4.3   5.0   3.9    4.9  10.9   7.6
1   -0.3  -6.6   -6.6  -6.7  -6.8  -6.8  -7.0  -7.3   4.3    6.3   4.2   6.4
2    1.0  -0.1    2.1   1.5   1.9   2.7   3.6   4.1   2.5    4.8  30.9   8.7
3    3.0   3.8    4.8   7.4   5.7   4.2   3.2   1.6   1.9    4.6  10.2   5.0
4    4.9   5.6    7.2  14.3   5.6   5.1   4.8   3.7   2.4    3.7  17.3  -6.9
5   -2.8  -2.0   -0.5   1.8   0.8   4.0   5.3   4.1   2.8    5.3  29.5  10.1
6   -4.8  -2.5    0.4   2.8   8.3   5.2  11.2   8.8   6.1   12.0  18.7  10.0
7   -6.0  -5.4   -4.3  -4.2   1.0   0.8   1.6   3.3   0.6  -15.2   1.7   3.8
8   -3.0  -5.4   -2.2  -0.1   1.7   3.8   7.0   9.7   5.0    4.2  15.3  13.2
9    1.1   1.5    0.5  -0.4  -0.3   0.8   1.7   0.6   2.8    2.2   2.4   2.7
10  -0.9  -4.7   -6.1  -8.0  -9.3 -11.7  -7.5  -4.9  -4.9   -1.2   3.0   7.8
11   4.2   2.6    0.8   0.5   0.7   1.0  10.2   0.7  -1.2    1.6   4.9   4.6
12  -0.7 -14.0  -17.4  -2.4   2.9   7.2   9.3  10.0   5.0    6.2  14.3   9.9
13  -5.8  -7.1   -4.3  -5.4  -6.2  -4.0  -2.5  -1.8  -1.7   -0.2  11.7   1.3
14  -6.0  -4.8   -3.5  -6.7  -8.7  -7.3  -0.4   3.9   7.4    7.0  25.5  15.7
15  18.9  19.0   19.9  19.6  16.2  15.8  16.3  16.6  10.7   13.2  20.5  14.0
16   1.6  -0.8   -0.1   0.3  -0.8   1.1   2.5   2.7   1.0    2.2   3.8   2.7
17  10.1  13.9   22.4  22.4  18.9  31.5  35.9  42.1   1.8    7.4  41.0  37.9
18   0.8   1.2    2.1   3.2   4.6   4.7   5.0   6.2   3.9    6.1  12.6   7.6
19   5.2   6.6    8.6  13.2   7.5   5.1   4.0   4.6   4.4    5.8  15.1   7.2
20  -0.1  -0.7   -0.3  -0.3   0.3   0.1   0.6   0.5   0.1    0.1   0.2   0.1
21  -3.5  -3.4   -2.5  -0.3  -0.1   1.4   2.3   6.5   3.4    6.9  13.0  14.7
22  -1.1  -0.7   -1.0  -2.5  -3.2  -3.0  -2.9  -1.3  -1.4   -0.9   5.6   5.2
23   0.3   0.2   -0.2   0.2   0.5   0.6   7.2   7.8   8.7    1.2   6.9   5.4
24   0.6   0.4    0.3   0.6   0.7   0.7   0.7   0.7   0.8   -1.5   0.2   0.3
25   3.3   3.3    2.8   2.3   3.1   2.4   2.1   2.8   3.2    4.1   6.1  10.4
26   5.4   6.9    7.9   8.1  11.9  10.1   8.5   7.0   3.5    4.9   5.6   2.3
27  -0.9   5.1    3.4   4.5  12.2  24.1  18.6  13.8   6.7   13.2  25.7  24.0
28   6.3   5.4    3.6   4.9   2.1   5.7   4.2   7.2   7.0    3.8   7.2   6.4
29   9.4   7.7    7.8   5.0   5.6   4.1   3.4   4.8   2.1    3.7  10.6   9.6
30   8.3  10.2    9.4   8.5   8.3   5.2   4.7   5.0   6.3    5.7   7.8  15.4
31   2.6   3.8    4.6   5.4   4.4   4.2   3.9   4.0   NaN    NaN   NaN   NaN
32  -1.5  -1.5   -1.5  -1.5  -1.5  -1.5  -1.5  -1.5  -1.5   -1.5  -1.5  -1.5
33   0.0  -0.5   -9.1  -7.5  -6.9 -15.9 -17.6 -15.1 -11.7  -24.0 -17.0 -32.3
34  -0.5  -0.2   -0.2  -0.2  -0.1   0.1   0.1  -0.1  -0.4 -113.6  -1.5  -0.1
35   NaN   NaN -188.0  -5.2  -2.2   1.6  -2.9  -2.2   4.2   -7.0   NaN   NaN
36  -6.8  -7.1   -7.5  -7.1  -3.2  -5.2  -5.2  -8.1  -5.9  -11.7 -11.7  -7.2
37   0.0   0.0    0.3   0.0   0.0   0.0   0.0   0.0   0.0    0.0 -16.3   0.0
38   0.3   1.7    1.0   1.6   2.3   1.6   4.6   4.9   1.5    1.5   0.8  -4.0
39   1.4   0.7    NaN   0.3   0.2   0.3   0.4   0.5   0.2    NaN   NaN   NaN
40   NaN   NaN    NaN  -8.6  -8.3  -8.0  -6.2  -5.2   1.1    NaN   NaN   0.6
41   0.2   0.2    0.1   0.1   0.2   0.1   0.2   0.0   0.1    0.2  -9.0   0.1

In [48]:
# df_migrazioni.to_csv('dataset_aggiornato.csv')

In [49]:
all_nulls = df_migrazioni[null_counts > 0]
all_nulls

,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
31,United Kingdom,2.6,3.8,4.6,5.4,4.4,4.2,3.9,4.0,NaN,NaN,NaN,NaN
32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5
35,Georgia,NaN,NaN,-188.0,-5.2,-2.2,1.6,-2.9,-2.2,4.2,-7.0,NaN,NaN
36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,-7.2
38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,1.5,1.5,0.8,-4.0
39,Ukraine,1.4,0.7,NaN,0.3,0.2,0.3,0.4,0.5,0.2,NaN,NaN,NaN
40,Armenia,NaN,NaN,NaN,-8.6,-8.3,-8.0,-6.2,-5.2,1.1,NaN,NaN,0.6

In [50]:
df_migrazioni_aggiornato = pd.read_csv('dataset_aggiornato.csv')
df_migrazioni_aggiornato

,Unnamed: 0,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,Belgium,3.9,2.4,3.2,5.5,2.4,3.2,4.3,5.0,3.9,4.9,10.9,7.6
1,1,Bulgaria,-0.3,-6.6,-6.6,-6.7,-6.8,-6.8,-7.0,-7.3,4.3,6.3,4.2,6.4
2,2,Czechia,1.0,-0.1,2.1,1.5,1.9,2.7,3.6,4.1,2.5,4.8,30.9,8.7
3,3,Denmark,3.0,3.8,4.8,7.4,5.7,4.2,3.2,1.6,1.9,4.6,10.2,5.0
4,4,Germany,4.9,5.6,7.2,14.3,5.6,5.1,4.8,3.7,2.4,3.7,17.3,-6.9
5,5,Estonia,-2.8,-2.0,-0.5,1.8,0.8,4.0,5.3,4.1,2.8,5.3,29.5,10.1
6,6,Ireland,-4.8,-2.5,0.4,2.8,8.3,5.2,11.2,8.8,6.1,12.0,18.7,10.0
7,7,Greece,-6.0,-5.4,-4.3,-4.2,1.0,0.8,1.6,3.3,0.6,-15.2,1.7,3.8
8,8,Spain,-3.0,-5.4,-2.2,-0.1,1.7,3.8,7.0,9.7,5.0,4.2,15.3,13.2
9,9,France,1.1,1.5,0.5,-0.4,-0.3,0.8,1.7,0.6,2.8,2.2,2.4,2.7
10,10,Croatia,-0.9,-4.7,-6.1,-8.0,-9.3,-11.7,-7.5,-4.9,-4.9,-1.2,3.0,7.8
11,11,Italy,4.2,2.6,0.8,0.5,0.7,1.0,10.2,0.7,-1.2,1.6,4.9,4.6
12,12,Cyprus,-0.7,-14.0,-17.4,-2.4,2.9,7.2,9.3,10.0,5.0,6.2,14.3,9.9
13,13,Latvia,-5.8,-7.1,-4.3,-5.4,-6.2,-4.0,-2.5,-1.8,-1.7,-0.2,11.7,1.3
14,14,Lithuania,-6.0,-4.8,-3.5,-6.7,-8.7,-7.3,-0.4,3.9,7.4,7.0,25.5,15.7
15,15,Luxembourg,18.9,19.0,19.9,19.6,16.2,15.8,16.3,16.6,10.7,13.2,20.5,14.0
16,16,Hungary,1.6,-0.8,-0.1,0.3,-0.8,1.1,2.5,2.7,1.0,2.2,3.8,2.7
17,17,Malta,10.1,13.9,22.4,22.4,18.9,31.5,35.9,42.1,1.8,7.4,41.0,37.9
18,18,Netherlands,0.8,1.2,2.1,3.2,4.6,4.7,5.0,6.2,3.9,6.1,12.6,7.6
19,19,Austria,5.2,6.6,8.6,13.2,7.5,5.1,4.0,4.6,4.4,5.8,15.1,7.2
20,20,Poland,-0.1,-0.7,-0.3,-0.3,0.3,0.1,0.6,0.5,0.1,0.1,0.2,0.1
21,21,Portugal,-3.5,-3.4,-2.5,-0.3,-0.1,1.4,2.3,6.5,3.4,6.9,13.0,14.7
22,22,Romania,-1.1,-0.7,-1.0,-2.5,-3.2,-3.0,-2.9,-1.3,-1.4,-0.9,5.6,5.2
23,23,Slovenia,0.3,0.2,-0.2,0.2,0.5,0.6,7.2,7.8,8.7,1.2,6.9,5.4
24,24,Slovakia,0.6,0.4,0.3,0.6,0.7,0.7,0.7,0.7,0.8,-1.5,0.2,0.3
25,25,Finland,3.3,3.3,2.8,2.3,3.1,2.4,2.1,2.8,3.2,4.1,6.1,10.4
26,26,Sweden,5.4,6.9,7.9,8.1,11.9,10.1,8.5,7.0,3.5,4.9,5.6,2.3
27,27,Iceland,-0.9,5.1,3.4,4.5,12.2,24.1,18.6,13.8,6.7,13.2,25.7,24.0
28,28,Liechtenstein,6.3,5.4,3.6,4.9,2.1,5.7,4.2,7.2,7.0,3.8,7.2,6.4
29,29,Norway,9.4,7.7,7.8,5.0,5.6,4.1,3.4,4.8,2.1,3.7,10.6,9.6
30,30,Switzerland,8.3,10.2,9.4,8.5,8.3,5.2,4.7,5.0,6.3,5.7,7.8,15.4
31,31,United Kingdom,2.6,3.8,4.6,5.4,4.4,4.2,3.9,4.0,3.2,2.9,2.6,2.2
32,32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5
33,33,Moldova,0.0,-0.5,-9.1,-7.5,-6.9,-15.9,-17.6,-15.1,-11.7,-24.0,-17.0,-32.3
34,34,North Macedonia,-0.5,-0.2,-0.2,-0.2,-0.1,0.1,0.1,-0.1,-0.4,-113.6,-1.5,-0.1
35,35,Georgia,-4.9,-4.3,-4.6,-5.2,-2.2,1.6,-2.9,-2.2,4.2,-7.0,-2.5,-2.5
36,36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,-7.2
37,37,Serbia,0.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.3,0.0
38,38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,1.5,1.5,0.8,-4.0
39,39,Ukraine,1.4,0.7,0.5,0.3,0.2,0.3,0.4,0.5,0.2,0.1,0.1,0.1
40,40,Armenia,-4.1,-2.1,-2.0,-8.6,-8.3,-8.0,-6.2,-5.2,1.1,-1.7,-1.6,0.6
41,41,Azerbaijan,0.2,0.2,0.1,0.1,0.2,0.1,0.2,0.0,0.1,0.2,-9.0,0.1

In [51]:
df_migrazioni_aggiornato.drop('Unnamed: 0', axis= 1, inplace=True)
df_migrazioni_aggiornato

,country,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Belgium,3.9,2.4,3.2,5.5,2.4,3.2,4.3,5.0,3.9,4.9,10.9,7.6
1,Bulgaria,-0.3,-6.6,-6.6,-6.7,-6.8,-6.8,-7.0,-7.3,4.3,6.3,4.2,6.4
2,Czechia,1.0,-0.1,2.1,1.5,1.9,2.7,3.6,4.1,2.5,4.8,30.9,8.7
3,Denmark,3.0,3.8,4.8,7.4,5.7,4.2,3.2,1.6,1.9,4.6,10.2,5.0
4,Germany,4.9,5.6,7.2,14.3,5.6,5.1,4.8,3.7,2.4,3.7,17.3,-6.9
5,Estonia,-2.8,-2.0,-0.5,1.8,0.8,4.0,5.3,4.1,2.8,5.3,29.5,10.1
6,Ireland,-4.8,-2.5,0.4,2.8,8.3,5.2,11.2,8.8,6.1,12.0,18.7,10.0
7,Greece,-6.0,-5.4,-4.3,-4.2,1.0,0.8,1.6,3.3,0.6,-15.2,1.7,3.8
8,Spain,-3.0,-5.4,-2.2,-0.1,1.7,3.8,7.0,9.7,5.0,4.2,15.3,13.2
9,France,1.1,1.5,0.5,-0.4,-0.3,0.8,1.7,0.6,2.8,2.2,2.4,2.7
10,Croatia,-0.9,-4.7,-6.1,-8.0,-9.3,-11.7,-7.5,-4.9,-4.9,-1.2,3.0,7.8
11,Italy,4.2,2.6,0.8,0.5,0.7,1.0,10.2,0.7,-1.2,1.6,4.9,4.6
12,Cyprus,-0.7,-14.0,-17.4,-2.4,2.9,7.2,9.3,10.0,5.0,6.2,14.3,9.9
13,Latvia,-5.8,-7.1,-4.3,-5.4,-6.2,-4.0,-2.5,-1.8,-1.7,-0.2,11.7,1.3
14,Lithuania,-6.0,-4.8,-3.5,-6.7,-8.7,-7.3,-0.4,3.9,7.4,7.0,25.5,15.7
15,Luxembourg,18.9,19.0,19.9,19.6,16.2,15.8,16.3,16.6,10.7,13.2,20.5,14.0
16,Hungary,1.6,-0.8,-0.1,0.3,-0.8,1.1,2.5,2.7,1.0,2.2,3.8,2.7
17,Malta,10.1,13.9,22.4,22.4,18.9,31.5,35.9,42.1,1.8,7.4,41.0,37.9
18,Netherlands,0.8,1.2,2.1,3.2,4.6,4.7,5.0,6.2,3.9,6.1,12.6,7.6
19,Austria,5.2,6.6,8.6,13.2,7.5,5.1,4.0,4.6,4.4,5.8,15.1,7.2
20,Poland,-0.1,-0.7,-0.3,-0.3,0.3,0.1,0.6,0.5,0.1,0.1,0.2,0.1
21,Portugal,-3.5,-3.4,-2.5,-0.3,-0.1,1.4,2.3,6.5,3.4,6.9,13.0,14.7
22,Romania,-1.1,-0.7,-1.0,-2.5,-3.2,-3.0,-2.9,-1.3,-1.4,-0.9,5.6,5.2
23,Slovenia,0.3,0.2,-0.2,0.2,0.5,0.6,7.2,7.8,8.7,1.2,6.9,5.4
24,Slovakia,0.6,0.4,0.3,0.6,0.7,0.7,0.7,0.7,0.8,-1.5,0.2,0.3
25,Finland,3.3,3.3,2.8,2.3,3.1,2.4,2.1,2.8,3.2,4.1,6.1,10.4
26,Sweden,5.4,6.9,7.9,8.1,11.9,10.1,8.5,7.0,3.5,4.9,5.6,2.3
27,Iceland,-0.9,5.1,3.4,4.5,12.2,24.1,18.6,13.8,6.7,13.2,25.7,24.0
28,Liechtenstein,6.3,5.4,3.6,4.9,2.1,5.7,4.2,7.2,7.0,3.8,7.2,6.4
29,Norway,9.4,7.7,7.8,5.0,5.6,4.1,3.4,4.8,2.1,3.7,10.6,9.6
30,Switzerland,8.3,10.2,9.4,8.5,8.3,5.2,4.7,5.0,6.3,5.7,7.8,15.4
31,United Kingdom,2.6,3.8,4.6,5.4,4.4,4.2,3.9,4.0,3.2,2.9,2.6,2.2
32,Montenegro,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5,-1.5
33,Moldova,0.0,-0.5,-9.1,-7.5,-6.9,-15.9,-17.6,-15.1,-11.7,-24.0,-17.0,-32.3
34,North Macedonia,-0.5,-0.2,-0.2,-0.2,-0.1,0.1,0.1,-0.1,-0.4,-113.6,-1.5,-0.1
35,Georgia,-4.9,-4.3,-4.6,-5.2,-2.2,1.6,-2.9,-2.2,4.2,-7.0,-2.5,-2.5
36,Albania,-6.8,-7.1,-7.5,-7.1,-3.2,-5.2,-5.2,-8.1,-5.9,-11.7,-11.7,-7.2
37,Serbia,0.0,0.0,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.3,0.0
38,Türkiye,0.3,1.7,1.0,1.6,2.3,1.6,4.6,4.9,1.5,1.5,0.8,-4.0
39,Ukraine,1.4,0.7,0.5,0.3,0.2,0.3,0.4,0.5,0.2,0.1,0.1,0.1
40,Armenia,-4.1,-2.1,-2.0,-8.6,-8.3,-8.0,-6.2,-5.2,1.1,-1.7,-1.6,0.6
41,Azerbaijan,0.2,0.2,0.1,0.1,0.2,0.1,0.2,0.0,0.1,0.2,-9.0,0.1

In [52]:
df_migr_pop_lt5 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 1')
df_migr_pop_5_9 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 2')
df_migr_pop_10_14 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 3')
df_migr_pop_15_19 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 4')
df_migr_pop_20_24 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 5')
df_migr_pop_25_29 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 6')
df_migr_pop_30_34 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 7')
df_migr_pop_35_39 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 8')
df_migr_pop_40_44 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 9')
df_migr_pop_45_49 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 10')
df_migr_pop_50_54 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 11')
df_migr_pop_55_59 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 12')
df_migr_pop_60_64 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 13')
df_migr_pop_65_69 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 14')
df_migr_pop_70_74 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 15')
df_migr_pop_75_79 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 16')
df_migr_pop_80_84 = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 17')
df_migr_pop_gt85  = pd.read_excel('migr_pop.xlsx', sheet_name='Sheet 18')

df_migr_pop_5_9

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Belgium,Males,24643.0,25551.0,27007.0,27290.0,27544.0,27676.0,27786.0,27155.0,27035.0,30161.0
1,Belgium,Females,23883.0,24470.0,25850.0,25990.0,26083.0,26179.0,26483.0,26057.0,25878.0,28592.0
2,Bulgaria,Males,3518.0,4431.0,5889.0,7942.0,9460.0,10546.0,11924.0,13122.0,6898.0,8113.0
3,Bulgaria,Females,3252.0,4132.0,5509.0,7489.0,8789.0,9870.0,11106.0,12165.0,6385.0,7448.0
4,Czechia,Males,2825.0,2795.0,2816.0,2906.0,3002.0,3388.0,3736.0,3528.0,3790.0,16697.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,Ukraine,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Armenia,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Armenia,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Azerbaijan,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Azerbaijan,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df_migr_pop_lt5['age category'] = '0-4'
df_migr_pop_5_9['age category'] = '5-9'
df_migr_pop_10_14['age category'] = '10-14'
df_migr_pop_15_19['age category'] = '15-19'
df_migr_pop_20_24['age category'] = '20-24'
df_migr_pop_25_29['age category'] = '25-29'
df_migr_pop_30_34['age category'] = '30-34'
df_migr_pop_35_39['age category'] = '35-39'
df_migr_pop_40_44['age category'] = '40-44'
df_migr_pop_45_49['age category'] = '45-49'
df_migr_pop_50_54['age category'] = '50-54'
df_migr_pop_55_59['age category'] = '55-59'
df_migr_pop_60_64['age category'] = '60-64'
df_migr_pop_65_69['age category'] = '65-69'
df_migr_pop_70_74['age category'] = '70-74'
df_migr_pop_75_79['age category'] = '75-79'
df_migr_pop_80_84['age category'] = '80-84'
df_migr_pop_gt85['age category'] = 'over85'

In [54]:
df_migr_pop_gt85

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
0,Belgium,Males,7321.0,7636.0,8016.0,8315.0,8703.0,9041.0,9365.0,9366.0,9865.0,10278.0,over85
1,Belgium,Females,19169.0,19406.0,19814.0,19905.0,20026.0,20070.0,20384.0,20137.0,20606.0,20930.0,over85
2,Bulgaria,Males,605.0,608.0,633.0,615.0,634.0,671.0,702.0,706.0,920.0,913.0,over85
3,Bulgaria,Females,1152.0,1120.0,1124.0,1123.0,1166.0,1143.0,1204.0,1339.0,2214.0,2392.0,over85
4,Czechia,Males,399.0,437.0,487.0,564.0,605.0,708.0,857.0,290.0,306.0,394.0,over85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Ukraine,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
76,Armenia,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
77,Armenia,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
78,Azerbaijan,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
79,Azerbaijan,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85

In [55]:
df_migr_pop_unito = pd.concat([df_migr_pop_lt5, df_migr_pop_5_9, df_migr_pop_10_14, df_migr_pop_15_19, df_migr_pop_20_24, df_migr_pop_25_29, df_migr_pop_30_34, df_migr_pop_35_39, df_migr_pop_40_44, df_migr_pop_45_49, df_migr_pop_50_54, df_migr_pop_55_59, df_migr_pop_60_64, df_migr_pop_65_69, df_migr_pop_70_74, df_migr_pop_75_79, df_migr_pop_80_84, df_migr_pop_gt85], ignore_index=True)

In [56]:
df_migr_pop_unito

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
0,Belgium,Males,13108.0,12582.0,13139.0,12887.0,12802.0,12878.0,12676.0,11703.0,11799.0,14059.0,0-4
1,Belgium,Females,12566.0,12140.0,12468.0,12216.0,12080.0,12212.0,12256.0,11184.0,11269.0,13469.0,0-4
2,Bulgaria,Males,8852.0,10297.0,11245.0,10585.0,11232.0,12381.0,13313.0,12830.0,6629.0,7895.0,0-4
3,Bulgaria,Females,8262.0,9625.0,10451.0,9908.0,10498.0,11680.0,12592.0,12251.0,6122.0,7491.0,0-4
4,Czechia,Males,792.0,861.0,1044.0,1322.0,1502.0,1619.0,1634.0,1252.0,1230.0,9221.0,0-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,Ukraine,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
1436,Armenia,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
1437,Armenia,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
1438,Azerbaijan,Males,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85
1439,Azerbaijan,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,over85

In [57]:
# Conta i valori nulli per ciascuna riga
null_counts_per_row = df_migr_pop_unito.isnull().sum(axis=1)

# Filtra le righe che hanno da 1 a 2 valori nulli
few_null_pop = df_migr_pop_unito[(null_counts_per_row >= 1) & (null_counts_per_row <= 2)]

# Visualizza le righe selezionate
few_null_pop

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
44,Romania,Males,16976.0,31187.0,39793.0,48138.0,57208.0,63413.0,71882.0,76906.0,NaN,44775.0,0-4
45,Romania,Females,15681.0,29073.0,36882.0,44904.0,53651.0,60206.0,67764.0,72613.0,NaN,41773.0,0-4
124,Romania,Males,13560.0,16051.0,21602.0,26912.0,33405.0,39961.0,46575.0,45647.0,NaN,38925.0,5-9
125,Romania,Females,12797.0,15171.0,20281.0,25184.0,31317.0,37563.0,43816.0,43046.0,NaN,36205.0,5-9
204,Romania,Males,5338.0,7683.0,10689.0,13603.0,17542.0,21833.0,26841.0,26213.0,NaN,36781.0,10-14
205,Romania,Females,4979.0,7180.0,9997.0,12762.0,16476.0,20539.0,25233.0,24546.0,NaN,33823.0,10-14
284,Romania,Males,4608.0,5512.0,7853.0,10443.0,13236.0,15928.0,20119.0,18604.0,NaN,25784.0,15-19
285,Romania,Females,4711.0,5371.0,7454.0,9755.0,12360.0,14841.0,18691.0,17350.0,NaN,22428.0,15-19
364,Romania,Males,8930.0,10889.0,12852.0,15676.0,19404.0,24057.0,28413.0,24081.0,NaN,21683.0,20-24
365,Romania,Females,8332.0,9815.0,11245.0,13303.0,15558.0,18459.0,21317.0,18692.0,NaN,13777.0,20-24
444,Romania,Males,9874.0,14213.0,17133.0,20638.0,25051.0,31186.0,37041.0,31822.0,NaN,22493.0,25-29
445,Romania,Females,8721.0,11904.0,13755.0,15962.0,18836.0,22418.0,26006.0,22903.0,NaN,13751.0,25-29
524,Romania,Males,8267.0,11891.0,15843.0,19596.0,24979.0,32143.0,39816.0,34472.0,NaN,20107.0,30-34
525,Romania,Females,6815.0,9485.0,11614.0,14073.0,17931.0,22274.0,26923.0,24136.0,NaN,13810.0,30-34
604,Romania,Males,6781.0,9111.0,11704.0,14889.0,19466.0,25586.0,32948.0,29061.0,NaN,18228.0,35-39
605,Romania,Females,5001.0,6766.0,8689.0,10718.0,13792.0,17528.0,22081.0,20058.0,NaN,15602.0,35-39
684,Romania,Males,5688.0,7354.0,9333.0,11443.0,14747.0,19548.0,25076.0,22233.0,NaN,14517.0,40-44
685,Romania,Females,3314.0,4667.0,5802.0,7371.0,9958.0,12960.0,16334.0,15045.0,NaN,11126.0,40-44
764,Romania,Males,4819.0,6033.0,7576.0,9339.0,11513.0,14944.0,18617.0,16912.0,NaN,12031.0,45-49
765,Romania,Females,2300.0,3427.0,4238.0,5332.0,7150.0,9398.0,11827.0,11007.0,NaN,8303.0,45-49
844,Romania,Males,3900.0,4976.0,6143.0,7446.0,8823.0,11124.0,13434.0,12544.0,NaN,9433.0,50-54
845,Romania,Females,2161.0,3184.0,3724.0,4509.0,5818.0,7232.0,8784.0,8234.0,NaN,5959.0,50-54
924,Romania,Males,2556.0,3425.0,4393.0,5500.0,6530.0,8082.0,9473.0,9023.0,NaN,7194.0,55-59
925,Romania,Females,1620.0,2316.0,2892.0,3573.0,4725.0,5773.0,6952.0,6454.0,NaN,3897.0,55-59
1004,Romania,Males,2010.0,2382.0,2992.0,3679.0,4388.0,5364.0,6332.0,5998.0,NaN,5716.0,60-64
1005,Romania,Females,1561.0,1873.0,2150.0,2600.0,3386.0,4087.0,4831.0,4655.0,NaN,3187.0,60-64
1084,Romania,Males,4707.0,4287.0,4102.0,4174.0,4321.0,4579.0,4838.0,4741.0,NaN,4022.0,65-69
1085,Romania,Females,7360.0,6277.0,5465.0,5002.0,4817.0,4792.0,4818.0,4736.0,NaN,2512.0,65-69
1164,Romania,Males,5634.0,5443.0,5231.0,5064.0,4962.0,4967.0,4896.0,4843.0,NaN,2183.0,70-74
1165,Romania,Females,7091.0,7137.0,6965.0,6731.0,6465.0,6237.0,6033.0,5993.0,NaN,1997.0,70-74
1244,Romania,Males,2948.0,3406.0,3780.0,4031.0,4171.0,4328.0,4369.0,4391.0,NaN,2057.0,75-79
1245,Romania,Females,4666.0,5073.0,5436.0,5686.0,5850.0,5973.0,6009.0,5985.0,NaN,3177.0,75-79
1324,Romania,Males,1494.0,1707.0,1996.0,2276.0,2519.0,2785.0,2947.0,2935.0,NaN,2085.0,80-84
1325,Romania,Females,2898.0,3126.0,3412.0,3710.0,3976.0,4223.0,4437.0,4419.0,NaN,3671.0,80-84
1372,Ireland,Males,2246.0,2463.0,2666.0,3000.0,3360.0,3746.0,3934.0,4096.0,4580.0,NaN,over85
1373,Ireland,Females,4031.0,4171.0,4414.0,5383.0,5856.0,5977.0,6097.0,6533.0,6891.0,NaN,over85
1404,Romania,Males,1031.0,1208.0,1459.0,1800.0,2170.0,2596.0,3036.0,3021.0,NaN,2137.0,over85
1405,Romania,Females,2081.0,2445.0,2869.0,3416.0,4025.0,4700.0,5404.0,5378.0,NaN,4825.0,over85

In [58]:
for index in few_null_pop.index:
    # Seleziona le colonne numeriche escluse le colonne 'country', 'sex', e 'age_category'
    valori_numerici = df_migr_pop_unito.loc[index, df_migr_pop_unito.columns.difference(['country', 'sex', 'age category'])]
    
    # Converti in numerico, ignorando valori non numerici
    valori_numerici = pd.to_numeric(valori_numerici, errors='coerce')
    
    # Stampa i valori usati nel calcolo della media per fare debug
    print(f"Valori per il calcolo della media all'indice {index}:\n", valori_numerici)
    
    # Calcola la media sui valori numerici effettivi, escludendo i NaN
    mean_value_pop = valori_numerici.mean(skipna=True)
    print(f"Media calcolata all'indice {index}: {mean_value_pop}")  # Per debug

    # Riempie i NaN nella riga con la media calcolata
    df_migr_pop_unito.loc[index] = df_migr_pop_unito.loc[index].fillna(round(mean_value_pop, 1))

Valori per il calcolo della media all'indice 44:
 2014    16976.0
2015    31187.0
2016    39793.0
2017    48138.0
2018    57208.0
2019    63413.0
2020    71882.0
2021    76906.0
2022        NaN
2023    44775.0
Name: 44, dtype: float64
Media calcolata all'indice 44: 50030.88888888889
Valori per il calcolo della media all'indice 45:
 2014    15681.0
2015    29073.0
2016    36882.0
2017    44904.0
2018    53651.0
2019    60206.0
2020    67764.0
2021    72613.0
2022        NaN
2023    41773.0
Name: 45, dtype: float64
Media calcolata all'indice 45: 46949.666666666664
Valori per il calcolo della media all'indice 124:
 2014    13560.0
2015    16051.0
2016    21602.0
2017    26912.0
2018    33405.0
2019    39961.0
2020    46575.0
2021    45647.0
2022        NaN
2023    38925.0
Name: 124, dtype: float64
Media calcolata all'indice 124: 31404.222222222223
Valori per il calcolo della media all'indice 125:
 2014    12797.0
2015    15171.0
2016    20281.0
2017    25184.0
2018    31317.0
2019    37563.0
2020    43816.0
2021    43046.0
2022        NaN
2023    36205.0
Name: 125, dtype: float64
Media calcolata all'indice 125: 29486.666666666668
Valori per il calcolo della media all'indice 204:
 2014     5338.0
2015     7683.0
2016    10689.0
2017    13603.0
2018    17542.0
2019    21833.0
2020    26841.0
2021    26213.0
2022        NaN
2023    36781.0
Name: 204, dtype: float64
Media calcolata all'indice 204: 18502.555555555555
Valori per il calcolo della media all'indice 205:
 2014     4979.0
2015     7180.0
2016     9997.0
2017    12762.0
2018    16476.0
2019    20539.0
2020    25233.0
2021    24546.0
2022        NaN
2023    33823.0
Name: 205, dtype: float64
Media calcolata all'indice 205: 17281.666666666668
Valori per il calcolo della media all'indice 284:
 2014     4608.0
2015     5512.0
2016     7853.0
2017    10443.0
2018    13236.0
2019    15928.0
2020    20119.0
2021    18604.0
2022        NaN
2023    25784.0
Name: 284, dtype: float64
Media calcolata all'indice 284: 13565.222222222223
Valori per il calcolo della media all'indice 285:
 2014     4711.0
2015     5371.0
2016     7454.0
2017     9755.0
2018    12360.0
2019    14841.0
2020    18691.0
2021    17350.0
2022        NaN
2023    22428.0
Name: 285, dtype: float64
Media calcolata all'indice 285: 12551.222222222223
Valori per il calcolo della media all'indice 364:
 2014     8930.0
2015    10889.0
2016    12852.0
2017    15676.0
2018    19404.0
2019    24057.0
2020    28413.0
2021    24081.0
2022        NaN
2023    21683.0
Name: 364, dtype: float64
Media calcolata all'indice 364: 18442.777777777777
Valori per il calcolo della media all'indice 365:
 2014     8332.0
2015     9815.0
2016    11245.0
2017    13303.0
2018    15558.0
2019    18459.0
2020    21317.0
2021    18692.0
2022        NaN
2023    13777.0
Name: 365, dtype: float64
Media calcolata all'indice 365: 14499.777777777777
Valori per il calcolo della media all'indice 444:
 2014     9874.0
2015    14213.0
2016    17133.0
2017    20638.0
2018    25051.0
2019    31186.0
2020    37041.0
2021    31822.0
2022        NaN
2023    22493.0
Name: 444, dtype: float64
Media calcolata all'indice 444: 23272.333333333332
Valori per il calcolo della media all'indice 445:
 2014     8721.0
2015    11904.0
2016    13755.0
2017    15962.0
2018    18836.0
2019    22418.0
2020    26006.0
2021    22903.0
2022        NaN
2023    13751.0
Name: 445, dtype: float64
Media calcolata all'indice 445: 17139.555555555555
Valori per il calcolo della media all'indice 524:
 2014     8267.0
2015    11891.0
2016    15843.0
2017    19596.0
2018    24979.0
2019    32143.0
2020    39816.0
2021    34472.0
2022        NaN
2023    20107.0
Name: 524, dtype: float64
Media calcolata all'indice 524: 23012.666666666668
Valori per il calcolo della media all'indice 525:
 2014     6815.0
2015     9485.0
2016    11614.0
2017    14073.0
2018    17931.0
2019    22274.0
2020    26923.0
2021    24136.0
2022        NaN
2023    13810.0
Name: 525, dtype: float64
Media calcolata all'indice 525: 16340.111111111111
Valori per il calcolo della media all'indice 604:
 2014     6781.0
2015     9111.0
2016    11704.0
2017    14889.0
2018    19466.0
2019    25586.0
2020    32948.0
2021    29061.0
2022        NaN
2023    18228.0
Name: 604, dtype: float64
Media calcolata all'indice 604: 18641.555555555555
Valori per il calcolo della media all'indice 605:
 2014     5001.0
2015     6766.0
2016     8689.0
2017    10718.0
2018    13792.0
2019    17528.0
2020    22081.0
2021    20058.0
2022        NaN
2023    15602.0
Name: 605, dtype: float64
Media calcolata all'indice 605: 13359.444444444445
Valori per il calcolo della media all'indice 684:
 2014     5688.0
2015     7354.0
2016     9333.0
2017    11443.0
2018    14747.0
2019    19548.0
2020    25076.0
2021    22233.0
2022        NaN
2023    14517.0
Name: 684, dtype: float64
Media calcolata all'indice 684: 14437.666666666666
Valori per il calcolo della media all'indice 685:
 2014     3314.0
2015     4667.0
2016     5802.0
2017     7371.0
2018     9958.0
2019    12960.0
2020    16334.0
2021    15045.0
2022        NaN
2023    11126.0
Name: 685, dtype: float64
Media calcolata all'indice 685: 9619.666666666666
Valori per il calcolo della media all'indice 764:
 2014     4819.0
2015     6033.0
2016     7576.0
2017     9339.0
2018    11513.0
2019    14944.0
2020    18617.0
2021    16912.0
2022        NaN
2023    12031.0
Name: 764, dtype: float64
Media calcolata all'indice 764: 11309.333333333334
Valori per il calcolo della media all'indice 765:
 2014     2300.0
2015     3427.0
2016     4238.0
2017     5332.0
2018     7150.0
2019     9398.0
2020    11827.0
2021    11007.0
2022        NaN
2023     8303.0
Name: 765, dtype: float64
Media calcolata all'indice 765: 6998.0
Valori per il calcolo della media all'indice 844:
 2014     3900.0
2015     4976.0
2016     6143.0
2017     7446.0
2018     8823.0
2019    11124.0
2020    13434.0
2021    12544.0
2022        NaN
2023     9433.0
Name: 844, dtype: float64
Media calcolata all'indice 844: 8647.0
Valori per il calcolo della media all'indice 845:
 2014    2161.0
2015    3184.0
2016    3724.0
2017    4509.0
2018    5818.0
2019    7232.0
2020    8784.0
2021    8234.0
2022       NaN
2023    5959.0
Name: 845, dtype: float64
Media calcolata all'indice 845: 5511.666666666667
Valori per il calcolo della media all'indice 924:
 2014    2556.0
2015    3425.0
2016    4393.0
2017    5500.0
2018    6530.0
2019    8082.0
2020    9473.0
2021    9023.0
2022       NaN
2023    7194.0
Name: 924, dtype: float64
Media calcolata all'indice 924: 6241.777777777777
Valori per il calcolo della media all'indice 925:
 2014    1620.0
2015    2316.0
2016    2892.0
2017    3573.0
2018    4725.0
2019    5773.0
2020    6952.0
2021    6454.0
2022       NaN
2023    3897.0
Name: 925, dtype: float64
Media calcolata all'indice 925: 4244.666666666667
Valori per il calcolo della media all'indice 1004:
 2014    2010.0
2015    2382.0
2016    2992.0
2017    3679.0
2018    4388.0
2019    5364.0
2020    6332.0
2021    5998.0
2022       NaN
2023    5716.0
Name: 1004, dtype: float64
Media calcolata all'indice 1004: 4317.888888888889
Valori per il calcolo della media all'indice 1005:
 2014    1561.0
2015    1873.0
2016    2150.0
2017    2600.0
2018    3386.0
2019    4087.0
2020    4831.0
2021    4655.0
2022       NaN
2023    3187.0
Name: 1005, dtype: float64
Media calcolata all'indice 1005: 3147.777777777778
Valori per il calcolo della media all'indice 1084:
 2014    4707.0
2015    4287.0
2016    4102.0
2017    4174.0
2018    4321.0
2019    4579.0
2020    4838.0
2021    4741.0
2022       NaN
2023    4022.0
Name: 1084, dtype: float64
Media calcolata all'indice 1084: 4419.0
Valori per il calcolo della media all'indice 1085:
 2014    7360.0
2015    6277.0
2016    5465.0
2017    5002.0
2018    4817.0
2019    4792.0
2020    4818.0
2021    4736.0
2022       NaN
2023    2512.0
Name: 1085, dtype: float64
Media calcolata all'indice 1085: 5086.555555555556
Valori per il calcolo della media all'indice 1164:
 2014    5634.0
2015    5443.0
2016    5231.0
2017    5064.0
2018    4962.0
2019    4967.0
2020    4896.0
2021    4843.0
2022       NaN
2023    2183.0
Name: 1164, dtype: float64
Media calcolata all'indice 1164: 4802.555555555556
Valori per il calcolo della media all'indice 1165:
 2014    7091.0
2015    7137.0
2016    6965.0
2017    6731.0
2018    6465.0
2019    6237.0
2020    6033.0
2021    5993.0
2022       NaN
2023    1997.0
Name: 1165, dtype: float64
Media calcolata all'indice 1165: 6072.111111111111
Valori per il calcolo della media all'indice 1244:
 2014    2948.0
2015    3406.0
2016    3780.0
2017    4031.0
2018    4171.0
2019    4328.0
2020    4369.0
2021    4391.0
2022       NaN
2023    2057.0
Name: 1244, dtype: float64
Media calcolata all'indice 1244: 3720.1111111111113
Valori per il calcolo della media all'indice 1245:
 2014    4666.0
2015    5073.0
2016    5436.0
2017    5686.0
2018    5850.0
2019    5973.0
2020    6009.0
2021    5985.0
2022       NaN
2023    3177.0
Name: 1245, dtype: float64
Media calcolata all'indice 1245: 5317.222222222223
Valori per il calcolo della media all'indice 1324:
 2014    1494.0
2015    1707.0
2016    1996.0
2017    2276.0
2018    2519.0
2019    2785.0
2020    2947.0
2021    2935.0
2022       NaN
2023    2085.0
Name: 1324, dtype: float64
Media calcolata all'indice 1324: 2304.8888888888887
Valori per il calcolo della media all'indice 1325:
 2014    2898.0
2015    3126.0
2016    3412.0
2017    3710.0
2018    3976.0
2019    4223.0
2020    4437.0
2021    4419.0
2022       NaN
2023    3671.0
Name: 1325, dtype: float64
Media calcolata all'indice 1325: 3763.5555555555557
Valori per il calcolo della media all'indice 1372:
 2014    2246.0
2015    2463.0
2016    2666.0
2017    3000.0
2018    3360.0
2019    3746.0
2020    3934.0
2021    4096.0
2022    4580.0
2023       NaN
Name: 1372, dtype: float64
Media calcolata all'indice 1372: 3343.4444444444443
Valori per il calcolo della media all'indice 1373:
 2014    4031.0
2015    4171.0
2016    4414.0
2017    5383.0
2018    5856.0
2019    5977.0
2020    6097.0
2021    6533.0
2022    6891.0
2023       NaN
Name: 1373, dtype: float64
Media calcolata all'indice 1373: 5483.666666666667
Valori per il calcolo della media all'indice 1404:
 2014    1031.0
2015    1208.0
2016    1459.0
2017    1800.0
2018    2170.0
2019    2596.0
2020    3036.0
2021    3021.0
2022       NaN
2023    2137.0
Name: 1404, dtype: float64
Media calcolata all'indice 1404: 2050.8888888888887
Valori per il calcolo della media all'indice 1405:
 2014    2081.0
2015    2445.0
2016    2869.0
2017    3416.0
2018    4025.0
2019    4700.0
2020    5404.0
2021    5378.0
2022       NaN
2023    4825.0
Name: 1405, dtype: float64
Media calcolata all'indice 1405: 3904.777777777778

In [59]:
df_migr_pop_unito.loc[df_migr_pop_unito['country'] == 'Ireland']

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
12,Ireland,Males,18635.0,17862.0,17823.0,23625.0,22905.0,23201.0,23165.0,22484.0,22519.0,24534.0,0-4
13,Ireland,Females,18450.0,17530.0,17166.0,22663.0,22451.0,22158.0,21739.0,21392.0,21365.0,23430.0,0-4
92,Ireland,Males,22412.0,22489.0,22086.0,28328.0,27839.0,27474.0,27179.0,25868.0,26259.0,29437.0,5-9
93,Ireland,Females,21691.0,21852.0,21855.0,27148.0,26842.0,25982.0,25029.0,24394.0,24511.0,28056.0,5-9
172,Ireland,Males,20688.0,20699.0,21359.0,26057.0,26789.0,28035.0,29149.0,29149.0,29737.0,33313.0,10-14
173,Ireland,Females,19887.0,19900.0,20358.0,25019.0,26018.0,26729.0,27069.0,28179.0,28310.0,31491.0,10-14
252,Ireland,Males,20694.0,21177.0,21295.0,26118.0,27176.0,29042.0,29161.0,27301.0,28104.0,31422.0,15-19
253,Ireland,Females,19704.0,20055.0,20048.0,25143.0,27504.0,28244.0,29950.0,28490.0,28980.0,31678.0,15-19
332,Ireland,Males,22642.0,22763.0,22283.0,28875.0,28995.0,30411.0,30343.0,28357.0,28503.0,29762.0,20-24
333,Ireland,Females,24239.0,23818.0,23654.0,29827.0,29620.0,30235.0,32154.0,30294.0,30643.0,32807.0,20-24
412,Ireland,Males,34344.0,31776.0,31501.0,39321.0,38282.0,38464.0,38310.0,36685.0,35984.0,38709.0,25-29
413,Ireland,Females,42441.0,39692.0,37961.0,44018.0,41596.0,40781.0,40652.0,38836.0,38246.0,42554.0,25-29
492,Ireland,Males,51164.0,48112.0,47256.0,52381.0,50664.0,49955.0,49938.0,48651.0,48730.0,51635.0,30-34
493,Ireland,Females,54289.0,53264.0,53520.0,58500.0,56342.0,55890.0,55398.0,53626.0,53342.0,57708.0,30-34
572,Ireland,Males,44653.0,46351.0,49071.0,55359.0,57318.0,59236.0,59945.0,59351.0,59542.0,62356.0,35-39
573,Ireland,Females,42278.0,44792.0,47162.0,54954.0,58124.0,61602.0,63173.0,63450.0,64469.0,70132.0,35-39
652,Ireland,Males,35049.0,35881.0,37427.0,43301.0,46088.0,50371.0,54381.0,57548.0,60334.0,66292.0,40-44
653,Ireland,Females,31809.0,33189.0,34282.0,40874.0,44012.0,48687.0,53173.0,56516.0,60002.0,69126.0,40-44
732,Ireland,Males,26742.0,27428.0,29045.0,34141.0,35891.0,37824.0,40585.0,43474.0,45933.0,49986.0,45-49
733,Ireland,Females,24688.0,25310.0,26517.0,31684.0,33056.0,34715.0,37970.0,40529.0,42937.0,49047.0,45-49
812,Ireland,Males,21093.0,21854.0,22563.0,27266.0,28520.0,29792.0,31223.0,32827.0,34041.0,36843.0,50-54
813,Ireland,Females,20364.0,21062.0,21486.0,26670.0,27167.0,27756.0,29322.0,30264.0,30806.0,34305.0,50-54
892,Ireland,Males,16141.0,16929.0,17952.0,22328.0,23151.0,24584.0,26082.0,27402.0,28287.0,30083.0,55-59
893,Ireland,Females,15805.0,16403.0,17482.0,22376.0,23220.0,24190.0,25504.0,26103.0,26312.0,29348.0,55-59
972,Ireland,Males,12505.0,12997.0,13662.0,17813.0,18799.0,20085.0,21282.0,22492.0,23136.0,25247.0,60-64
973,Ireland,Females,12543.0,12970.0,13361.0,17885.0,18756.0,19710.0,21296.0,22153.0,22517.0,25285.0,60-64
1052,Ireland,Males,10738.0,10939.0,11371.0,14735.0,15170.0,15660.0,16178.0,16836.0,17497.0,19254.0,65-69
1053,Ireland,Females,10375.0,11043.0,11226.0,14586.0,15362.0,15644.0,16444.0,17091.0,17476.0,19271.0,65-69
1132,Ireland,Males,7335.0,7854.0,8359.0,11090.0,11952.0,12627.0,13089.0,13489.0,13739.0,14557.0,70-74
1133,Ireland,Females,7396.0,7903.0,8275.0,11508.0,12253.0,12980.0,13447.0,13767.0,13867.0,14690.0,70-74
1212,Ireland,Males,4978.0,5342.0,5437.0,7045.0,7706.0,8354.0,9007.0,9744.0,9879.0,10944.0,75-79
1213,Ireland,Females,5419.0,5681.0,6012.0,7789.0,8408.0,8987.0,9641.0,10380.0,10640.0,11195.0,75-79
1292,Ireland,Males,3221.0,3422.0,3509.0,4497.0,4666.0,5060.0,5431.0,5593.0,5837.0,6502.0,80-84
1293,Ireland,Females,3975.0,4283.0,4205.0,5576.0,6118.0,6281.0,6475.0,6668.0,6952.0,7180.0,80-84
1372,Ireland,Males,2246.0,2463.0,2666.0,3000.0,3360.0,3746.0,3934.0,4096.0,4580.0,3343.4,over85
1373,Ireland,Females,4031.0,4171.0,4414.0,5383.0,5856.0,5977.0,6097.0,6533.0,6891.0,5483.7,over85

In [60]:
df_migr_pop_unito.loc[df_migr_pop_unito['country'] == 'Romania']

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
44,Romania,Males,16976.0,31187.0,39793.0,48138.0,57208.0,63413.0,71882.0,76906.0,50030.9,44775.0,0-4
45,Romania,Females,15681.0,29073.0,36882.0,44904.0,53651.0,60206.0,67764.0,72613.0,46949.7,41773.0,0-4
124,Romania,Males,13560.0,16051.0,21602.0,26912.0,33405.0,39961.0,46575.0,45647.0,31404.2,38925.0,5-9
125,Romania,Females,12797.0,15171.0,20281.0,25184.0,31317.0,37563.0,43816.0,43046.0,29486.7,36205.0,5-9
204,Romania,Males,5338.0,7683.0,10689.0,13603.0,17542.0,21833.0,26841.0,26213.0,18502.6,36781.0,10-14
205,Romania,Females,4979.0,7180.0,9997.0,12762.0,16476.0,20539.0,25233.0,24546.0,17281.7,33823.0,10-14
284,Romania,Males,4608.0,5512.0,7853.0,10443.0,13236.0,15928.0,20119.0,18604.0,13565.2,25784.0,15-19
285,Romania,Females,4711.0,5371.0,7454.0,9755.0,12360.0,14841.0,18691.0,17350.0,12551.2,22428.0,15-19
364,Romania,Males,8930.0,10889.0,12852.0,15676.0,19404.0,24057.0,28413.0,24081.0,18442.8,21683.0,20-24
365,Romania,Females,8332.0,9815.0,11245.0,13303.0,15558.0,18459.0,21317.0,18692.0,14499.8,13777.0,20-24
444,Romania,Males,9874.0,14213.0,17133.0,20638.0,25051.0,31186.0,37041.0,31822.0,23272.3,22493.0,25-29
445,Romania,Females,8721.0,11904.0,13755.0,15962.0,18836.0,22418.0,26006.0,22903.0,17139.6,13751.0,25-29
524,Romania,Males,8267.0,11891.0,15843.0,19596.0,24979.0,32143.0,39816.0,34472.0,23012.7,20107.0,30-34
525,Romania,Females,6815.0,9485.0,11614.0,14073.0,17931.0,22274.0,26923.0,24136.0,16340.1,13810.0,30-34
604,Romania,Males,6781.0,9111.0,11704.0,14889.0,19466.0,25586.0,32948.0,29061.0,18641.6,18228.0,35-39
605,Romania,Females,5001.0,6766.0,8689.0,10718.0,13792.0,17528.0,22081.0,20058.0,13359.4,15602.0,35-39
684,Romania,Males,5688.0,7354.0,9333.0,11443.0,14747.0,19548.0,25076.0,22233.0,14437.7,14517.0,40-44
685,Romania,Females,3314.0,4667.0,5802.0,7371.0,9958.0,12960.0,16334.0,15045.0,9619.7,11126.0,40-44
764,Romania,Males,4819.0,6033.0,7576.0,9339.0,11513.0,14944.0,18617.0,16912.0,11309.3,12031.0,45-49
765,Romania,Females,2300.0,3427.0,4238.0,5332.0,7150.0,9398.0,11827.0,11007.0,6998.0,8303.0,45-49
844,Romania,Males,3900.0,4976.0,6143.0,7446.0,8823.0,11124.0,13434.0,12544.0,8647.0,9433.0,50-54
845,Romania,Females,2161.0,3184.0,3724.0,4509.0,5818.0,7232.0,8784.0,8234.0,5511.7,5959.0,50-54
924,Romania,Males,2556.0,3425.0,4393.0,5500.0,6530.0,8082.0,9473.0,9023.0,6241.8,7194.0,55-59
925,Romania,Females,1620.0,2316.0,2892.0,3573.0,4725.0,5773.0,6952.0,6454.0,4244.7,3897.0,55-59
1004,Romania,Males,2010.0,2382.0,2992.0,3679.0,4388.0,5364.0,6332.0,5998.0,4317.9,5716.0,60-64
1005,Romania,Females,1561.0,1873.0,2150.0,2600.0,3386.0,4087.0,4831.0,4655.0,3147.8,3187.0,60-64
1084,Romania,Males,4707.0,4287.0,4102.0,4174.0,4321.0,4579.0,4838.0,4741.0,4419.0,4022.0,65-69
1085,Romania,Females,7360.0,6277.0,5465.0,5002.0,4817.0,4792.0,4818.0,4736.0,5086.6,2512.0,65-69
1164,Romania,Males,5634.0,5443.0,5231.0,5064.0,4962.0,4967.0,4896.0,4843.0,4802.6,2183.0,70-74
1165,Romania,Females,7091.0,7137.0,6965.0,6731.0,6465.0,6237.0,6033.0,5993.0,6072.1,1997.0,70-74
1244,Romania,Males,2948.0,3406.0,3780.0,4031.0,4171.0,4328.0,4369.0,4391.0,3720.1,2057.0,75-79
1245,Romania,Females,4666.0,5073.0,5436.0,5686.0,5850.0,5973.0,6009.0,5985.0,5317.2,3177.0,75-79
1324,Romania,Males,1494.0,1707.0,1996.0,2276.0,2519.0,2785.0,2947.0,2935.0,2304.9,2085.0,80-84
1325,Romania,Females,2898.0,3126.0,3412.0,3710.0,3976.0,4223.0,4437.0,4419.0,3763.6,3671.0,80-84
1404,Romania,Males,1031.0,1208.0,1459.0,1800.0,2170.0,2596.0,3036.0,3021.0,2050.9,2137.0,over85
1405,Romania,Females,2081.0,2445.0,2869.0,3416.0,4025.0,4700.0,5404.0,5378.0,3904.8,4825.0,over85

In [61]:
df_migr_pop_unito.loc[df_migr_pop_unito['country'] == 'Germany']

,country,sex,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,age category
8,Germany,Males,NaN,NaN,NaN,NaN,NaN,75278.0,60787.0,79326.0,NaN,NaN,0-4
9,Germany,Females,NaN,NaN,NaN,NaN,NaN,71131.0,54920.0,73424.0,NaN,NaN,0-4
88,Germany,Males,NaN,NaN,NaN,NaN,NaN,199521.0,195969.0,222923.0,210147.0,227771.0,5-9
89,Germany,Females,NaN,NaN,NaN,NaN,NaN,170489.0,172601.0,203563.0,187747.0,203946.0,5-9
168,Germany,Males,NaN,NaN,NaN,NaN,NaN,196555.0,211172.0,227934.0,242066.0,299722.0,10-14
169,Germany,Females,NaN,NaN,NaN,NaN,NaN,172996.0,189599.0,213922.0,223229.0,266354.0,10-14
248,Germany,Males,NaN,NaN,NaN,NaN,NaN,197911.0,203295.0,241691.0,221179.0,273758.0,15-19
249,Germany,Females,NaN,NaN,NaN,NaN,NaN,165865.0,159492.0,185557.0,201241.0,255233.0,15-19
328,Germany,Males,NaN,NaN,NaN,NaN,NaN,394868.0,390055.0,440490.0,415179.0,445494.0,20-24
329,Germany,Females,NaN,NaN,NaN,NaN,NaN,299838.0,297149.0,327309.0,322910.0,364075.0,20-24
408,Germany,Males,NaN,NaN,NaN,NaN,NaN,594070.0,580689.0,582309.0,578686.0,635172.0,25-29
409,Germany,Females,NaN,NaN,NaN,NaN,NaN,516828.0,518406.0,502166.0,509911.0,562056.0,25-29
488,Germany,Males,NaN,NaN,NaN,NaN,NaN,743216.0,748126.0,764342.0,775474.0,781361.0,30-34
489,Germany,Females,NaN,NaN,NaN,NaN,NaN,686496.0,684816.0,693582.0,687001.0,728122.0,30-34
568,Germany,Males,NaN,NaN,NaN,NaN,NaN,712636.0,716886.0,730513.0,761749.0,845216.0,35-39
569,Germany,Females,NaN,NaN,NaN,NaN,NaN,703769.0,715141.0,717001.0,735540.0,806359.0,35-39
648,Germany,Males,NaN,NaN,NaN,NaN,NaN,658611.0,676303.0,680414.0,699554.0,732210.0,40-44
649,Germany,Females,NaN,NaN,NaN,NaN,NaN,693867.0,704641.0,706707.0,729732.0,781562.0,40-44
728,Germany,Males,NaN,NaN,NaN,NaN,NaN,648966.0,632546.0,617083.0,629824.0,685369.0,45-49
729,Germany,Females,NaN,NaN,NaN,NaN,NaN,649852.0,658440.0,640052.0,659227.0,721068.0,45-49
808,Germany,Males,NaN,NaN,NaN,NaN,NaN,603701.0,624369.0,615132.0,602231.0,632521.0,50-54
809,Germany,Females,NaN,NaN,NaN,NaN,NaN,567621.0,590311.0,584983.0,591690.0,640359.0,50-54
888,Germany,Males,NaN,NaN,NaN,NaN,NaN,553241.0,554576.0,526951.0,549248.0,581493.0,55-59
889,Germany,Females,NaN,NaN,NaN,NaN,NaN,511553.0,520352.0,504869.0,519114.0,552690.0,55-59
968,Germany,Males,NaN,NaN,NaN,NaN,NaN,453877.0,471702.0,444170.0,442199.0,478063.0,60-64
969,Germany,Females,NaN,NaN,NaN,NaN,NaN,454990.0,458819.0,444057.0,450471.0,495716.0,60-64
1048,Germany,Males,NaN,NaN,NaN,NaN,NaN,325569.0,343850.0,325081.0,334376.0,368225.0,65-69
1049,Germany,Females,NaN,NaN,NaN,NaN,NaN,379993.0,396209.0,392809.0,385656.0,432257.0,65-69
1128,Germany,Males,NaN,NaN,NaN,NaN,NaN,277503.0,263016.0,268986.0,265255.0,269884.0,70-74
1129,Germany,Females,NaN,NaN,NaN,NaN,NaN,306747.0,290955.0,314858.0,334299.0,349109.0,70-74
1208,Germany,Males,NaN,NaN,NaN,NaN,NaN,382959.0,379754.0,333960.0,307868.0,293361.0,75-79
1209,Germany,Females,NaN,NaN,NaN,NaN,NaN,461104.0,446439.0,408659.0,369637.0,352545.0,75-79
1288,Germany,Males,NaN,NaN,NaN,NaN,NaN,259005.0,278935.0,286259.0,299442.0,314117.0,80-84
1289,Germany,Females,NaN,NaN,NaN,NaN,NaN,335726.0,362508.0,375257.0,402708.0,404512.0,80-84
1368,Germany,Males,NaN,NaN,NaN,NaN,NaN,150155.0,164979.0,169165.0,189120.0,200906.0,over85
1369,Germany,Females,NaN,NaN,NaN,NaN,NaN,303128.0,322901.0,317224.0,348473.0,368974.0,over85

In [62]:
df_melted = df_migr_pop_unito.melt(
    id_vars=['country', 'sex', 'age category'],   
    var_name='year',                              
    value_name='value'                            
)

df_melted

          country      sex age category  year    value
0         Belgium    Males          0-4  2014  13108.0
1         Belgium  Females          0-4  2014  12566.0
2        Bulgaria    Males          0-4  2014   8852.0
3        Bulgaria  Females          0-4  2014   8262.0
4         Czechia    Males          0-4  2014    792.0
...           ...      ...          ...   ...      ...
14395     Ukraine  Females       over85  2023      NaN
14396     Armenia    Males       over85  2023      NaN
14397     Armenia  Females       over85  2023      NaN
14398  Azerbaijan    Males       over85  2023      NaN
14399  Azerbaijan  Females       over85  2023      NaN

[14400 rows x 5 columns]

In [63]:

df_cleaned = df_melted.dropna(subset=['value'])


# df_cleaned = df_migr_pop_unito[~df_migr_pop_unito['country'].isin(lots_of_nulls)]

In [64]:
# Lista dei paesi con molti null da escludere (eccetto Germania e Regno Unito)
# countries_to_exclude = [country for country in lots_of_nulls if country not in ['Germany', 'United Kingdom']]

# Filtrare i paesi da escludere completamente
# df_filtered = df_migr_pop_unito[~df_migr_pop_unito['country'].isin(countries_to_exclude)]

# Filtrare le righe non nulle per Germania e Regno Unito
# df_cleaned = df_filtered[~((df_filtered['country'].isin(['Germany', 'United Kingdom'])) & df_filtered.isnull().any(axis=1))]

In [65]:
df_cleaned

             country      sex age category  year    value
0            Belgium    Males          0-4  2014  13108.0
1            Belgium  Females          0-4  2014  12566.0
2           Bulgaria    Males          0-4  2014   8852.0
3           Bulgaria  Females          0-4  2014   8262.0
4            Czechia    Males          0-4  2014    792.0
...              ...      ...          ...   ...      ...
14377  Liechtenstein  Females       over85  2023    238.0
14378         Norway    Males       over85  2023   1701.0
14379         Norway  Females       over85  2023   3573.0
14380    Switzerland    Males       over85  2023  17713.0
14381    Switzerland  Females       over85  2023  36067.0

[11228 rows x 5 columns]

In [66]:
df_cleaned[df_cleaned['country'].isin(['Germany', 'United Kingdom'])]

              country      sex age category  year     value
62     United Kingdom    Males          0-4  2014   45976.0
63     United Kingdom  Females          0-4  2014   48482.0
142    United Kingdom    Males          5-9  2014  111126.0
143    United Kingdom  Females          5-9  2014  102199.0
222    United Kingdom    Males        10-14  2014  127981.0
...               ...      ...          ...   ...       ...
14169         Germany  Females        75-79  2023  352545.0
14248         Germany    Males        80-84  2023  314117.0
14249         Germany  Females        80-84  2023  404512.0
14328         Germany    Males       over85  2023  200906.0
14329         Germany  Females       over85  2023  368974.0

[392 rows x 5 columns]

In [67]:
# df_melted.to_csv('df_migr_pop.csv')

In [68]:
#df_migrazioni_aggiornato.isna

In [69]:
df_cleaned = df_cleaned.copy()
df_cleaned.rename(columns={'country': 'Country_ID', 'sex': 'Gender_ID', 'age category': 'Age_category', 'year': 'Year_ID'}, inplace= True)

In [70]:
df_cleaned = df_cleaned[['Country_ID', 'Gender_ID', 'Year_ID', 'Age_category', 'value']]
df_cleaned

          Country_ID Gender_ID Year_ID Age_category    value
0            Belgium     Males    2014          0-4  13108.0
1            Belgium   Females    2014          0-4  12566.0
2           Bulgaria     Males    2014          0-4   8852.0
3           Bulgaria   Females    2014          0-4   8262.0
4            Czechia     Males    2014          0-4    792.0
...              ...       ...     ...          ...      ...
14377  Liechtenstein   Females    2023       over85    238.0
14378         Norway     Males    2023       over85   1701.0
14379         Norway   Females    2023       over85   3573.0
14380    Switzerland     Males    2023       over85  17713.0
14381    Switzerland   Females    2023       over85  36067.0

[11228 rows x 5 columns]

In [71]:
df_cleaned['Gender_ID'] = df_cleaned['Gender_ID'].replace({'Males': 'male', 'Females': 'female'})

In [72]:
df_cleaned

          Country_ID Gender_ID Year_ID Age_category    value
0            Belgium      male    2014          0-4  13108.0
1            Belgium    female    2014          0-4  12566.0
2           Bulgaria      male    2014          0-4   8852.0
3           Bulgaria    female    2014          0-4   8262.0
4            Czechia      male    2014          0-4    792.0
...              ...       ...     ...          ...      ...
14377  Liechtenstein    female    2023       over85    238.0
14378         Norway      male    2023       over85   1701.0
14379         Norway    female    2023       over85   3573.0
14380    Switzerland      male    2023       over85  17713.0
14381    Switzerland    female    2023       over85  36067.0

[11228 rows x 5 columns]

In [73]:
# df_cleaned.to_csv('df_migr_pop_finale_forse.csv')